.loginContainer {
  background-color: var(--deepBlue);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  background-size: 56px 56px;
  background-image: linear-gradient(
      130deg,
      transparent 45%,
      var(--deepBlue) 60%
    ),
    radial-gradient(
      transparent 6px,
      var(--coralRed) 6px,
      var(--coralRed) 10px,
      transparent 10px,
      transparent 15px,
      var(--coralRed) 15px,
      var(--coralRed) 19px,
      transparent 19px,
      transparent 24px,
      var(--coralRed) 24px,
      var(--coralRed) 28px,
      transparent 28px
    );
}

.loginWrapper {
  background-color: var(--bgWhite);

  padding: 40px 60px;
  border-radius: 15px;
}
.loginWrapperSignUp {
  background-color: var(--bgWhite);
  padding: 40px 90px;
  border-radius: 15px;
}

.logo {
  color: var(--txtBlack);
  font-weight: bold;
  font-size: 24px;
}

.title {
  color: var(--txtBlack);
  font-weight: bold;
  font-size: 18px;
}

.loginWrapper .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.loginWrapperSignUp .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form input {
  padding: 15px;
  border: none;
  border-bottom: 1.5px solid var(--deepBlue);
}

.form input::placeholder {
  color: rgb(175, 175, 175);
}

.form input:focus {
  outline: none;
  border-left: 1.5px solid var(--deepBlue);
}

.form button {
  background-color: var(--coralRed);
  color: white;
  padding: 10px;
  margin-top: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form p {
  color: var(--txtBlack);
  margin-top: 20px;
}

.link {
  font-weight: 500;
  color: var(--txtBlack);
}

.link:hover {
  color: var(--coralRed);
}
